
  <div class="center hero-unit">
    <h1>Media Management System</h1>

    

    <div><%= link_to "Sign in now!", signin_path, 
                                class: "btn btn-large btn-primary" %></div>
  </div>

  