
<ul>
 <div class = "project_box">
 	<div class = "project_title"><%= link_to project.projectname , project_path(project)%>
 		<div class = "links"><%= link_to "edit" %> | <%= link_to "delete" %></div>
 	</div>
 	
     <span class = "sequence_count">Sequences : <%= project.sequences.count %></span> 
     
 </div>
 <br>
</ul>
