<tr classs = "shot_details_row">
<td>
	<% if shot.new_record? != true %>
      <span id = "Shot_number"> <%= link_to shot.number, '#' %> </span>
    <% end %>
</td>
<td >
	<span id = "assigned_user_tooltip" > <%= link_to truncate(shot.assigned_user_names, :length => 10), '#', options = {:rel => 'tooltip',"data-original-title" => "#{shot.assigned_user_names}", "data-placement" => "right"} %></span>
</td>
<td> <span> <%= shot.status %> </span> </td>
<td>
	<span> <%= time_ago_in_words(shot.deliverydate) %></span>
</td>
</tr>
