// Place all the styles related to the sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sequence_box{
	width:200px;
	height: 70px;
     padding:3px;
     border:2px solid #948489;
     margin:5px;
     border-radius: 10px;
     display: inline-block; 
     background-color: #f2f2f2;
   .sequence_title{
        font-size: 20px;
        font-family: 'Tangerine', serif;
        padding-top :5px;
        padding-left :20px;
    .links{
         font-size: 15px;
         position: relative;
         margin-top: 5px;
         margin-left: 0px;
     }
   }
   .shots_count{
     font-size: 15px;
     font-family: 'Tangerine', serif;
     float: right;
     margin-right: 10px;
   } 
}
.sequence_link
{
    float: right;
    margin-top:5px;
    margin-right: 60px;
    font-size: 12px;
    font-style: italic;
}
